.wrapper {
    position: relative;
    max-width: 1080px;
    width: 100%;
}

.about-us-strip__skills-area {
    position: absolute;
    text-align: center;
    font-size: 2.3rem;
    transition: opacity .2s linear;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 1rem;

    @media screen and (min-width: 600px) {
        font-size: 3rem;
    }


    p {
        margin-bottom: 26px;
    }
}

#skills-button {
    button {
        margin: 3rem 0;
        font-size: 2rem;
        border: 1px solid $color-grey-dark-3;
        background-color: white; 
        padding: 5px 20px;
        transition: all .2s;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    
        }

        &:active, &:focus {
            background-color: $color-grey-dark-3;
            color: white;
            transform: translateY(-1px);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        }

    }
}