body {
    font-family: $font__sans;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-body;
    font-size: 2rem;
}


html {
    // This defines what 1rem is
    font-size: 62.5%;
    @include respond(tab-port-large) {
        // font-size: 75%;
        font-size: 65%;
    }
    @include respond(tab-port-small) { // width < 900?
        font-size: 65%; //1 rem = 8px (8/16 = 50%)
    }
    @include respond(phone-port-large) {
        font-size: 58%;
    }
    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px (9/16 = 56.25%)
    }
    @include respond(phone-port-small) {
        font-size: 50%;
    }
}

@import "headings";

@import "copy";